html {
	/*background: url(../img/bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	display: inline-block;*/
  	font-family: 'Montserrat', sans-serif;
}

.container {
	display: grid;
	grid-template-columns: .5fr 1fr;
	padding: 20px;
}

.prof_data, .prof_info {
	padding: 20px;
	text-align: center;
}

.prof_data {
	height: 100%;
	color: black;
	border-radius: 40px;
	background-color: #EBEBEB;
}

.prof_pic {
	border-radius: 100px;
	width: 200px;
	height: 200px;
	border: 4px blue;
	border-style: solid;
}

.data_cont {
	padding: 13px;
}

.head_info, .head_img, .data_cont {
	display: inline-block;
	vertical-align: middle;
}

#items_sp {
	padding-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.item_sp {
	align-items: center;
  	justify-content: center;
  	display: grid;
  	grid-template-columns: 1fr;
  	align-items: center;
}

.img_cont {
    align-items: center;
    display: flex;
    justify-content: center;
}

.img_txt {
	text-align: center;
	vertical-align: middle;
}

#img_sp {
	border: .5px black;
    border-style:solid;
    border-radius: 100px;
    padding: 10px;
}

#referencias {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
}

.referencia {
	display: grid;
	grid-template-columns: .4fr 1fr;
	grid-auto-rows: auto;
	text-align: left;
	image
}

#imagen {
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;	
}

#contacto {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 50px;
}

.contact {
	width: 40px;
	height: 40px;
}

#experiencia_cont{
	display: grid;
	grid-template-columns: .4fr 1fr;
}

.puesto{
	text-align: left;
}

p.mayus{
	text-transform: uppercase;
}

p.negrita {
	font-weight: bold;
}

p.fecha {
	font-style: italic;
}

h3.datos{
	text-align: left;
}

.idioma{
	text-align: left;
}

/* DIVISORES */

.hr_main {
	border: 0;
	height: 25px;
	background-image: url(../img/main.png);
	background-repeat: no-repeat;
}

hr.simple {
border: 0;
height: 25px;
background-image: url(../img/line.png);
background-repeat: no-repeat;
}

.hr_ini {
	border: 0;
	height: 25px;
	background-image: url(../img/data.png);
	background-repeat: no-repeat;
}