#container {
    display: inline-block;
}

#cribaCont{
    width: 700px;
    display: inline-block;
}

#btns{
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.boton{
    height: 60px;
    width: 60px;
    text-align: center;
    background-color:  transparent;
    border: 1px solid;
    border-style: solid;
    border-radius: 5px;
    margin: 2px;
}

.btn{
    height: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
}