#container {
	display: grid;
	grid-template-columns: .4fr 1fr;
}

#info{
	border: 1px black;
	border-style: solid;
}

#data {
	border: 1px black;
	border-style: dotted;
}

#data, #info {
	padding: 10px;
	margin: 10px;

}